{{ define "javaScriptsHead"}}
  <!-- Page JS Plugins CSS -->
{{ end }}

{{ define "pageContent" }}
<!-- Main Container -->
  <main id="main-container">
    <!-- Page Header -->
    <div class="content bg-image overflow-hidden" style="">
      <h1 class="h2 text-grey animated zoomIn">Payments</h1><br>
      <h6 class="h6 text-grey">Collect a new payment from an existing customer, or enter a new one.</h6>
      <hr style="border-top-color: darkgrey;"><br>
      <p>Enter payment details:</p>
    </div>
    <!-- END Page Header -->
    <!-- Page Content -->
    <div class="block block-themed col-xs-6">
      <div class="block-content">
        <form class="form-horizontal push-10-t push-10" action="/sendPayment" id="payment-form" method="POST">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material floating">
                <input class="form-control" type="text" id="description" name="description">
                <label for="description">Description Of Services</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material floating">
                <input class="form-control" type="number" id="payment" name="payment">
                <label for="payment">Payment Amount $</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material floating">
                <select name="" id="" class="form-control" data-id="" value="">
                  <option value="" disabled selected>Payment Type</option>
                  <option value="">One-Time</option>
                  <option value="">reoccuring</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material floating">
                <select name="" id="" class="form-control" data-id="" value="">
                  <option value="" disabled selected>Billing Frequency</option>
                  <option value="">Monthly</option>
                  <option value="">Quarterly</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <button class="btn btn-sm btn-primary" type="submit" id="submit" autofocus><i class="fa fa-dollar push-5-r"></i> Send Payment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END Page Content -->    
  </main>
  <!-- END Main Container - Page Content -->
{{ end }}

<!-- Page Specific Scripts here: -->
{{ define "scripts" }}
<!-- Put any page specific scripts here -->
{{ end }}